html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

p{
  color: 	rgb(150, 150, 150);
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  color: rgb(70, 70, 70);
  font-weight: bold;
  font-size: 2.25rem;
}

h2{
  color: rgb(70, 70, 70);
  font-weight: bold;
  font-size: 2rem;
}

h3{
  color: rgb(70, 70, 70);
  font-size: 1.25rem;
}

.grey {
  background-color: rgb(210, 210, 210);
}
/* header */

header {
  height: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  display: inline-flex;
  align-items: center;
  
}

.lion {
  width: auto;
  height: 3rem;
}

span {
  color: 	rgb(150, 150, 150);
  padding-right: 1rem;
}

.logo-nav {
  display: none;
}

@media only screen and (max-width: 480px) {

  .logo  {
    display: none;
  }

  .navigation {
    display: none;
  }

  .logo-nav {
    display: inline-flex;
    width: 100%;
    height: 4rem;
    align-content: center;
  }

  img {
    height: 2rem;
    align-self: center;
  }

}

/* banner */

.banner {
  max-width: 1600px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 210, 210);
}

.banner .image-content {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner .text-content {
  width: 40%;
  margin-right: 8%;

}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(70, 70, 70);
  background-color: rgb(70, 70, 70);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}
.nav-btn a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .banner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .banner .image-content {
    width: 100%;
    height: 300px;
    padding: 0;
  }

  .banner img {
    width: 100%;
    height: 100%;
  }

  .banner .text-content {
    width: 90%;
    margin: 2rem 1rem;
    
  }

  .text-content h1 {
    margin-bottom: 2rem;
  }
  
  .nav-btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }  


}

/* main */

.main {
  display: flex;
  max-width: 1600px;
}

.main-info {
  width: 60%;
  margin: 2rem 1.5rem;
}

.main-text h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.author {
  font-size: 0.7rem;
  color: rgb(150, 150, 150);
}

.secondary-info {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;

}

.title p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.title {
  width: 65%;
}

.small-image {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.mobile {
  display: none;
}


a {
  text-decoration: none;
  color: #4682b4;
}

@media only screen and (max-width: 480px) {

    .main-info {
      display: none;
    }

    .secondary-info {
      width: 100%;
      height: auto;
    }

    .info {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      margin-left: 1rem;
    
    }

    .small-image {
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .mobile {
      display: block;
      height: 200px;
      width: 100%;
    }

    .desktop {
      display: none;
    }




}

/* courses */

.learning {
  display: flex;
  flex-direction: column;
  padding: 2rem 4.5rem;
  background-color:	#e0ffff;
  max-width: 1600px;

}

.learning h2 {
  align-self: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.first-row {
  display: flex;
}

.second-row {
  display: flex;
}

.course {
  flex: 1;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}

.course img {
  height: auto;
}

img .computer {

}

.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
}

.courses {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* thesis */

.thesis-exhibit h2 {
  align-self: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  display: flex;
  margin-top: 2rem;
}

.urban {
  width: 60%;
  margin: 2rem 1.5rem;
}

video {
  width:100%;
  height: 100%;
}

.video-text h4 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.other {
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem;
  font-size: 0.7rem;
}

.copyright p {
  font-size: 0.7rem;
}
